* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Ysabeau Infant', sans-serif;
}

:root {
    --clr: #3586ff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    background-image: url(./12140.jpg);
}

.wrapper {
    width: 100%;
    padding: 25px;
    margin: 25px auto 0;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(8px);
    background-color: #ffffff00;    
    margin-top: 5px;
    width: 60%;
    z-index: 1001;
    overflow-x: hidden;
    border: 3px solid black;
    border-radius: 30px;
    transform: all;
    padding: 2rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

form {

    text-align: center;
    

}

form h2 {
    color: #000000;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2.25rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

form p {
    color: #3586ff;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: inherit;
    margin-bottom: 2.1rem;
}

.input-group {
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px 5px;
}

.inputBox {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 300px;
    margin-bottom: 40px;
}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 10px 0;
    /* background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0); */
    background: transparent;
    border: none;
    border-bottom: 2px solid #3586ff;
    outline: none;
    color: #3586ff;
    font-size: 1rem;
    /* overflow-x: hidden; */
    text-transform: capitalize;
    letter-spacing: 0.12rem;
}

.inputBox input:hover {
    border: 2px solid #3586ff;
    border-radius: 1rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.inputBox label {
    position: absolute;
    left: 0.9rem;
    bottom: 0.6rem;
    padding: 10px 0;
    color: #000000;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
}

.inputBox label span {
    position: relative;
    display: inline-flex;
    letter-spacing: 0.05rem;
    transition: 0.2s ease-in-out;
}

.inputBox input:focus~label span,
.inputBox input:valid~label span {
    color: #3586ff;
    letter-spacing: 0.15rem;
    transform: translateY(-25px);
}

.inputBox input:focus {
    border-bottom: 2px solid #3586ff;
}

h3 {
    margin-bottom: 2.4rem;
    font-size: 1.5rem;
}

.icon {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6px;
    right: 5px;
    border-radius: 0.9rem;
    pointer-events: none;
}

.button-89 {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 18px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 10%;
    margin-left: 120%;
  }
  
  .button-89:hover,
  .button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-89:active {
    background: var(--color);
    color: #fff;
  }

  #reverse{
    position: fixed;
    top: 8px;
    z-index: 1001;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #3586ffd0;
    color: white;
    cursor: pointer;
    padding: 11px;
    border-radius: 50%;
      }
      #reverse:hover{
          background-color: red;
          color: black;
      }
